@import "../theme/colors";
@import "../mixins/scroll-hide";
@import "../mixins/background-image";

.device {
    display: flex;
    flex-flow: column nowrap;
    justify-content: space-between;
    
    height: 120px;
    width: 200px;
    
    padding: 14px;
    border-radius: 20px;
    background: map_get($colors, dim-color);

    cursor: pointer;
    box-sizing: border-box;
    
    &__icon {
        height: 24px;
        width: 24px;
        
        &--light {
            @include background-image("icon_sun_2");
        }
        
        &--warm {
            @include background-image("icon_temperature_2");
        }
        
        &--disabled {
            filter: grayscale(100%);
        }
    }
    
    &__name {
        font-weight: bold;
        font-size: 14px;
        
        color: map_get($colors, main-text-color);
        margin-top: 0;
        margin-bottom: 3px;
    }
    
    &__state {
        font-size: 12px;
        
        color: map_get($colors, second-text-color);
        margin: 0;
    }
    
    &__desc {
        margin-top: auto;
    }
}