@import "../theme/colors";

/* Mixin */
@import "../mixins/scroll-hide";

.favourite-devices {
    
    &__list {
        display: flex;
        flex-flow: row nowrap;
    
        @include scroll-hide();
    }
    
    &__item {
        margin-right: 20px;

        &:last-child {
            margin-right: 0;
        }
    }
}