@import "../theme/colors";

.task {
    display: flex;
    flex-flow: column nowrap;

    padding: 14px;
    background: map_get($colors, dim-color);
    border-radius: 20px;
    cursor: pointer;
    transition: background .3s, box-shadow .3s;

    min-width: 200px;
    min-height: 100px;

    box-sizing: border-box;

    &:hover {
        background: #FFF;
        box-shadow: 0 2px 6px 0 rgba(197,186,186,0.50);
    }

    &__icon {
        width: 24px;
        height: 24px;
    }

    &__name {
        font-size: 14px;
        font-weight: bold;

        margin-top: auto;
        margin-bottom: 0;

        color: map_get($colors, main-text-color);
    }

}