extends ./layout/layout

block content
    main.smart-home
        section.smart-home__dashboard
            include ./components/index/dashboard
        section.smart-home__favourite-tasks
            include ./components/index/favourite-tasks
        section.smart-home__favourite-devices
            include ./components/index/favourite-devices