footer.footer
	nav.footer__navigation
		ul.footer__navigation-list
			li.footer__navigation-item
				a.footer__navigation-link(href='#') Помощь
			li.footer__navigation-item
				a.footer__navigation-link(href='#') Обратная связь
			li.footer__navigation-item
				a.footer__navigation-link(href='#') Разработчикам
			li.footer__navigation-item
				a.footer__navigation-link(href='#') Условия использования
	p.footer__copyright © 2001–2017  ООО «Яндекс»
