header.header
    .header__logo-container
        img(src="../assets/images/yandex-home@1x.png"
            srcset="../assets/images/yandex-home@2x.png"
            alt="Яндекс Дом логотип").header__logo
    include navigation