@import "../theme/colors";
@import "../mixins/background-image";
@import "../mixins/focus-state";

.btn {
	border: none;
	@include focus-state();

	&--more {
		padding: 12px;
		
		border-top-left-radius: 20px;
		border-top-right-radius: 20px;
		
		background-color: map_get($colors, dim-color);
		@include background-image('arrow-double');
	}
	
	&--company {
		background: map_get($colors, company-color);
	}
	
	&--default {
		background: map_get($colors, light-color);
	}
}

/* Mobile index burger */
.mobile-toggle {

	&--navigation {
		display: none;

		height: 16px;
		width: 16px;

		margin-left: auto;
		border: none;
		cursor: pointer;

		@include background-image('icon_list_m');
	}
}

@media (max-width: 500px) {
	.mobile-toggle {

		&--navigation {
			display: block;
		}
	}
}