@import "../background-image";

@mixin slider-end-value($content: '', $backgroundName: '') {
	
	&:after {
		content: $content;
		
		font-family: ArialMT, sans-serif;
		font-size: 18px;
		font-weight: bold;
		
		position: absolute;
		top: 50%;
		right: 20px;
		
		@if $backgroundName != '' {
			@include background-image($backgroundName);

			width: 20px;
			height: 20px;
			background-size: 20px;
		}
		
		transform: translateY(-50%);
		color: map_get($colors, light-color);
	}

	@media (max-width: 500px) {
		&:after {
			transform: translateY(-50%) rotate(-90deg);
		}
	}
}