include ../filters/filter

mixin title-container(title)
	.title-container
		h2.title-container__title= title
		//if (showArrows)
		//	.title-container__slider-arrows.slider-arrows
		//		include ./_carousel-arrows